body {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 740px) {
    body {
        background: url(https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/329c9f21-e3ff-4af2-9012-89e293573d83/BR-pt-20220530-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
        background-size: cover;
        height: 100vh;
    }
}
.header {
    height: 90px;
}
.logo {
    margin-left: 3%;
    margin-top: 22px;
    cursor: pointer;
}
.form {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: .3rem;
    width: 314px;
    height: 560px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px 68px 40px 68px;
}
.form-group {
    padding-bottom: 16px;
}
.form-group input {
    width: 314px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: rgb(49, 46, 46);
}
.form button {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background-color: #e50914;
    cursor: pointer;
}
.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 500;
}
.remember a:hover {
    text-decoration: underline;
}
.right a {
    text-decoration: none;
    color: #b3b3b3;
}
.form-footer {
    margin-top: 100px;
    font-size: 13px;
}
.form-footer a:hover {
    text-decoration: underline;
}
.signup {
    color: #747474;
}
.signup a {
    text-decoration: none;
    color: #fff;
}
.learn-more {
    color: #747474;
}
.learn-more a {
    text-decoration: none;
    color: #0071eb;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    top: 800px;
    right: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 500px;
}
footer a {
    color: #757575;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer .top {
    margin-bottom: 30px;
}
footer .links {
    display: flex;
    flex-wrap: wrap;
}
footer .links a {
    display: inline-block;
    width: 250px;
    margin-bottom: 16px;
}
.gradient {
    background: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to top,
    rgba(0,0,0,.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,.8) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media only screen and (max-width: 740px) {
    body {
        background-color: black;
    }
}
@media only screen and (max-width: 425px) {
    .logo {
        width: 75px;
    }
}